<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Statistics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<ul>
  	<li><a href="/home">Home</a></li>
  	<li><a href="/leaguetable">Tables</a></li>
  	<li><a href="/stats">Stats</a></li>
  	<li><a href="/players">PlayerDB</a></li>
  	<li style="float:right"><a href="/login">Login</a></li>
	</ul>
	<h2>League Table</h2>
	<div>
    <table>
		<tr>
			<th>Position</th>
		    <th>Team</th>
		    <th>Played</th>
		    <th>Wins</th>
		    <th>Draws</th>
		    <th>Losses</th>
		    <th>Points</th>
		</tr>  
    	<tr th:each = "team : ${teams}">
    		<td></td>
    		<td th:text="${team.name}"></td>
    		<td th:text="${team.games}"></td>
    		<td th:text="${team.wins}"></td>
    		<td th:text="${team.draws}"></td>
    		<td th:text="${team.losses}"></td>
    		<td th:text="${team.points}"></td>
    	</tr>
     </table>
     </div>
</body>
</html>